.zoom-effect {
	-webkit-transition: 0.6s ease;
	margin-bottom: 1.0em;
}

.zoom-effect:hover {
	-webkit-transform: scale(1.05);
}

.modal {
	width: 80%;
}

.modal-content {
	width: 150%;
	height: 500px;
}

iframe {
	position:absolute;top:0;left:0;width:100%;height:100%;
}